# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual Environments
.env
.venv
env/
venv/
ENV/

# Jupyter Notebook checkpoints
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# Local Dataset and Model Weights (Large files)
data/
*.pt
*.pth

# Operating System files
.DS_Store
Thumbs.db
